{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header bg-dark text-white">
        <h4>User Login History</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Login Time</th>
                </tr>
            </thead>
            <tbody>
                {% for record in history %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.username }}</td>
                    <td>{{ record.login_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}